.container .left .gallery .img_list{
    margin: 10px;
    float: left;
    width: 200px;
    overflow: hidden;
}

.container .left .gallery .img_list:hover{
    transform: scale(1.5);
}

.container .left .gallery .img_list img{
    width: 100%;
    height: 100px;
    transition: transform .5s ease;
}